%h1
  = @bias_type.name
%table
  %thead
    %tr
      %th Bias
      %th Total Incidents
  %tbody
    - @bias_type.biases.each do | bias |
      %tr
        %td
          =link_to bias.name, bias_type_bias_path(@bias_type, bias)
        %td
          =bias.total_incidents


