%table
  %thead
    %tr
      %th Bias Motivation
      %th Total Crimes
  %tbody
    - @biases.each do |bias|
      %tr
        %td
          = link_to bias.name, bias
        %td
          = bias.total_victims


